body {
  background-color: #333333;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background-color: #333;
}

.imgContainer {
  margin: 0 auto;
  width: 90%;
  background-color: #333;
}

.vidContainer {
  margin: 0 auto;
  width: 90%;
  background-color: #333;
}

.bold {
  color: #9aff6e;
  font-weight: bolder;
}

.center {
  display: block;
  margin-bottom: -50px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center2 { /*-- Index */ 
  display: block;
  margin-bottom: 50px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center3 { /*-- Video */ 
  display: block;
  margin-bottom: 75px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center4 { /*-- Portfolio */ 
  display: block;
  margin-bottom: 75px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center5 { /*-- Video & Image */ 
  display: block;
  margin-bottom: 75px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/*-- Header --*/

.header {
  overflow: hidden;
  background-color: #000;
  padding: 20px 10px;
  font-family: 'Oswald', sans-serif;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #333;
}

.header a.active {
  background-color: #999;
  color: white;
}

.mainNav {
  float: right;
}

.socialMedia {
  fill: white;
  margin-left: 10px;
}

/*-- Close Header --*/

/*-- Start Video --*/

.mainVid {
  text-align: center;
  height: 524px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

/*-- Close Video --*/

/*-- Start Index --*/

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-family: 'Squada One', cursive;
  font-size: 60px;
}

.indexSpace {
  margin-bottom: 13%;
  margin-top: 13%;
}

.abtMe {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

/*-- Close Index --*/

/*-- Start Portfolio --*/

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.prtBtn {
  display: inline-block;
  width: 200px;
  padding: 15px;
  color: black;
  background-color: #9aff6e;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

#heading {
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}

/*-- Close Portfolio --*/

/*-- Start Images --*/

.imgPadding {
  margin: 20px;
}

#bdr {
  border: 3px solid #fff;
}

#imgHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: -120px;
  text-align: center;
  color: white;
  font-family: 'Squada One', cursive;
  font-size: 60px;
}

.bckBtn {
  text-align: center;
}

#bckBtn {
  display: inline-block;
  width: 200px;
  padding: 15px;
  color: black;
  background-color: #9aff6e;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: -200px;
  margin-bottom: 25px;
}

/*-- Close Images --*/

/*-- Start Video --*/

#vidHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: -120px;
  text-align: center;
  color: white;
  font-family: 'Squada One', cursive;
  font-size: 60px;
}

#vidHeading2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  font-family: 'Squada One', cursive;
  font-size: 60px;
}

.vidPortfolio {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.vidSpacing {
  margin: 20px;
}

.vidMargin {
  margin: 20px;
}

/*-- Close Video --*/

/*-- Start Contact --*/

.conTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-family: 'Squada One', cursive;
  font-size: 60px;
}

.conSub {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: -40px;
}

.conSub2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
}

.label {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  display: inline-block;
  width: 125px;
  padding: 15px;
  color: black;
  background-color: #9aff6e;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: -20px;
  margin-bottom: 25px;
}

.submit {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
}

/*-- Close Contact --*/

/*-- Start Footer --*/

.footer {
  overflow: hidden;
  background-color: #000;
  padding: 20px 10px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.footer a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  display: inline;
}

.footer a:hover {
  background-color: #333;
}

.footerNav {
  justify-content: center;
}

.footer2 {
  overflow: hidden;
  background-color: #000;
  padding: 20px 10px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 200px;
}

.footer2 a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  display: inline;
}

.footer2 a:hover {
  background-color: #333;
}

.footerNav2 {
  justify-content: center;
}

/*-- Close Footer --*/